html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #1B1924;
    color: #4a4a4a;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2) */
}

input {
    color: #432000;
    background-color: #444059;
    border: 0;
    padding: 5px 50px 80px 10px;
    border-radius: 8px;
    /* font-size: 20px; */
    /* text-align: center; */
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    
}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: 0;
    padding: 10px 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #030865;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    color: #1B1924;
    font-size: 15px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #abbaef;
    cursor: pointer;
}
h3{
    text-align: center;
    color :white
}